[Unit]
Description=Dynamic DNS Update Tool for GoDaddy
After=network.target

[Service]
ExecStart=/usr/local/sbin/nsdyndnsd -c /etc/nsdyndnsd.conf

[Install]
WantedBy=multi-user.target
